body{
    background-color:black;
    font-family:sans-serif;
  }
  nav{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    background-image:linear-gradient(to right, black,#1c1c1b);
    position:fixed;
    width:100%;
    top:0;
  }
  .signup{
  background-image:linear-gradient(to right,orange, red, purple);
    padding:0.3cm;
    border-radius:10px;
    
  }
  nav a{
    color:white;
    text-decoration:none;
    font-size:large;
    font-weight:bold;
  }
  nav a:hover{
    color:purple;
  }
  nav a:active{
    text-decoration:underline;
    
  }
  .logo{
    color:red;
  }
  
  nav ul{
    display:flex;
    align-item:center;
  }
  nav ul li{
    list-style-type:none;
    margin-left:1cm;
    margin-right:0.5cm;
    
  }
  .cyc{
    padding-top:2cm;
    text-align:center;
  }
  #p1{
    color:white;
    font-size:80px;
  }
  #gp1{
    background-image:linear-gradient(to right, orange, purple);
  -webkit-background-clip:text;
  color:transparent;
  }
  #gp2{
    background-image:linear-gradient(to left,violet, purple);
    font-size:50px;
    -webkit-background-clip:text;
    color:transparent;
  }
  #mb{
      background-image:linear-gradient(to right,orange,red, purple);
    font-size:40px;
    border-radius:10px;
    color:white;
    text-decoration:none;
    padding:0.3cm 1cm 0.3cm 1cm;
  }
  
.whatwe{
    display:flex;
    justify-content: space-around;
    padding-top:6cm;
    flex-wrap:wrap;
}
#icp{
    display:flex;
background-image:linear-gradient(to right,blue,pink);
height:500px;
width:500px;
border-radius:4px;
justify-content: center;
align-items: center;
}
#icp img{
    width:8cm;
    
}
#wd h1{
color:#e3107d;
}
#wep1{
    background-image:linear-gradient(to right,#681cba,#4d0996);
    font-size:50px;
    -webkit-background-clip:text;
    color:transparent;
    font-weight:bold;
}
#scp3{
    color:white;
    font-weight:bold;
    font-size:40px;
}
#scb{
    background-image: linear-gradient(to right,orange,red,purple);
    padding:0.5cm 2cm 0.5cm 2cm;
    border-radius: 4px;
    text-decoration: none;
    color:white;
    font-size:20px;
    font-weight:bold;
}
#midd2{
  margin-top:5cm;
  background-image:linear-gradient(to right,#f02416,#e64237);
  -webkit-background-clip:text;
  color:transparent;
  font-size:20px;
  text-align: center;
  height:3cm;
}
.fmcont{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}
#q{
  background-image:linear-gradient(to right, #1ac4c4,#eb34d5);
  max-height:8cm;
  width:8.2cm;
  text-align:center;
  color:white;
 padding-top:3cm;
 padding-bottom:4cm;
 border-radius:4px;

}
#q a{
  background-color:black;
  text-decoration:none;
  padding:0.3cm 0.5cm 0.3cm 0.5cm;
  color:white;
  font-size:18px;
  border-radius:4px;
}
#w{
  background-image:linear-gradient(to right, #5aeded,#1ac4c4);
  max-height:8cm;
  width:8.2cm;
  text-align:center;
  color:white;
 padding-top:3cm;
 padding-bottom:4cm;
 border-radius:4px;

}
#w a{
  background-color:black;
  text-decoration:none;
  padding:0.3cm 0.5cm 0.3cm 0.5cm;
  color:white;
  font-size:18px;
  border-radius:4px;
}
#e{
  background-image:linear-gradient(to right, purple,#d60d67);
  max-height:8cm;
  width:8.2cm;
  text-align:center;
  color:white;
 padding-top:3cm;
 padding-bottom:4cm;
 border-radius:4px;

}
#e a{
  background-color:black;
  text-decoration:none;
  padding:0.3cm 0.5cm 0.3cm 0.5cm;
  color:white;
  font-size:18px;
  border-radius:4px;
}
#r{
  background-image:linear-gradient(#18c5db,purple);
  max-height:8cm;
  width:8.2cm;
  text-align:center;
  color:white;
 padding-top:3cm;
 padding-bottom:4cm;
 border-radius:4px;

}
#r a{
  background-color:black;
  text-decoration:none;
  padding:0.3cm 0.5cm 0.3cm 0.5cm;
  color:white;
  font-size:18px;
  border-radius:4px;
}
#icm{
  display:flex;
background-image:linear-gradient(to right,#dd2476,#ff512f);
height:500px;
width:500px;
border-radius:4px;
justify-content: center;
align-items: center;
}
#icm img{
  width:8cm;
  }

.ff{
  display:flex;
  justify-content:center;
  padding-top:6cm;
  flex-wrap:wrap;
}
.ff h2{
  color:white;
}
.ff ul{
  padding-left:2cm;
}
.ff ul li{
  list-style-type:none;
  padding:0.2cm 0 0 0;
}
.ff a{
  color:white;
  text-decoration:none;
}
.ae{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}
.ae p,h2{
  color:white;
}
.ae img{
  width:5cm;
}
.ae i{
  padding:0 0 0 0.4cm;
}